.border-box {
  box-sizing: border-box;
}

$gray: rgba(34,34,34,0.5);
$border-colour: #CCC;
$secondary-colour: #2875C7;
$spacing: 10px;
$icon-width: 40px;
$header-height: 40px;

@mixin vertical-centre($height) {
  height: $height;
  line-height: $height !important;
  display: inline-block;
  vertical-align: middle;
}

.calendar-container {
  width: 310px;
  font-family: 'Roboto', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.247059) 0 14px 45px, rgba(0, 0, 0, 0.219608) 0 10px 18px;
  flex-direction: column;
  display: flex;
}

.calendar-header {
  background-color: rgb(0, 151, 167);
  padding: 10px;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  color: #FFF;

  &__year {
    opacity: .8;
  }

  &__date {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    span {
      padding: 0 3px;
    }
  }
}

.calendar-body {

  &__month {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    cursor: pointer;
    padding: 0 10px;
    font-size: 25px;
  }
}

.calendar-weeks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__day {
    color: $gray;
  }
}

.calendar {
  float: left;
  display: block;
  background: white;
  width: 300px;
  border: solid 1px $border-colour;
  margin-bottom: 10px;
  @extend .border-box;

  .header {
    float: left;
    width: 100%;
    background: $secondary-colour;
    height: $header-height;
    color: white;
  }
  i {
    float: left;
    width: $icon-width;
    font-size: 1.125em;
    font-weight: bold;
    position: relative;
    @extend .border-box;
    padding: 0 $spacing;
    cursor: pointer;
  }

  .fa-angle-left {
    text-align: left;
  }

  .fa-angle-right {
    text-align: right;
    margin-left: $icon-width*-1;
  }

  span {
    float: left;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    @extend .border-box;
    padding-left: $icon-width+$spacing;
    margin-left: $icon-width*-1;
    text-align: center;
    padding-right: $icon-width;
    color: inherit;
  }

}